*.pyc
*.o
*.lo
*.Po
*.Plo
*.a
*.la
*~
stamp-*
# Distribution / packaging
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg


# /
/bin
/obj
/.idea
/cmake-build-debug
/data
_build/
.DS_Store
data_full/
#build_test.sh#
#junk#
.#build_test.sh
.#junk
ephem.log
ephem_program.data
ephem_program.js
ephem_program.wasm
ephem_test.bin
ephem_test.bin.dSYM/
mapfile
src/ephemCalc/jpl_cache.c
src/ephemCalc/jpl_nocache.c
