*.pyc
*.o
*.lo
*.Po
*.Plo
*.a
*.la
*~
stamp-*
# Distribution / packaging
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg


# /
/bin
/obj
/.idea
/cmake-build-debug
/data
_build/
.DS_Store
data_full/

